# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# User Data & Raw Assets
video and photo/
/public/videos/
/public/gallery/
# /public/images/ (Enabling UI assets for git)
test-*.mjs
scripts/make-me-admin.sql
